 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e4df;
}

.navbar {
    overflow: hidden;
    z-index: 2;
    background-color: #1c2127;
    padding-left: 100px;
    padding-right: 100px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-decoration: none;
    transition: background-color 0.125s;
    border-radius: 10px;
}

.navbar a:not(#icon):hover {
    background-color: #f8d075;
    color: black;
    border-radius: 10px;
}

#icon {
    font-size: 18px;
    font-weight: 600;
    padding-right: 40%;
}

.main-body {
    background-color: white;
    margin-top: 50px;
    margin-left:175px;
    margin-right: 175px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}

.main-body h1 {
    color: #333333;
    font-weight: bold;
    font-size: 32px;
}

.main-body h2 {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
}

.main-body p {
    text-align: left;
    margin-top: 20px; /* Add margin as needed */
}

.main-body h6 {
    text-align: right;
}

.main-body img {
    width: 100%; /* Adjust width as needed */
    height: auto;
    margin-top: 20px; /* Add margin as needed */
}

.footer {
    background-color: #1c2127;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}